@inherits SelectableCell


<div class="@SvConstants.Cells.BUTTON @Class"
     id="@ID"
     @onclick="OnClickHandler" >
    <div class="@SV_CELL_BODY" >
        <div class="@SV_CELL_BODY_TITLE"
             id="@ID-title" >
            @Title
        </div>
    </div>
</div>


@code
{

}
