@inherits ValueCellBase<DateTime>


<div class="@SvConstants.Cells.LABEL @Class"
     id="@ID" >
    <div class="@SV_CELL_BODY" >
        <div class="@SV_CELL_BODY_TITLE"
             id="@ID-title" >
            @Title
        </div>
        <div class="@SV_CELL_BODY_DESCRIPTION"
             id="@ID-description" >
            @Description
        </div>
        <span class="@SV_CELL_BODY_HINT"
              id="@ID-hint" >
            @Hint
        </span>
        <span class="@SV_CELL_BODY_VALUE_ENTRY"
              id="@ID-value" >
            @GetValue()
        </span>
    </div>
</div>


@code
{
    public override    WidgetType              Type      => WidgetType.DateLabel;
    [Parameter] public string?                 Format    { get; set; }
    [Parameter] public Func<DateTime, string>? Formatter { get; set; }


    private string GetValue()
    {
        Formatter ??= DefaultFormatter;
        return Formatter(Value);
    }
    private string DefaultFormatter( DateTime date ) => date.ToString(Format, CurrentCulture);
}
