@inherits SelectableCell<string, string>


<div class="@SV_CELL_BODY @Class"
     id="@ID"
     @onclick="OnClickHandler" >
    <div class="@SV_CELL_BODY_TITLE"
         id="@ID-title" >
        @Title
    </div>
    <div class="@SV_CELL_BODY_DESCRIPTION"
         id="@ID-description" >
        @Description
    </div>
    <div class="@SV_CELL_BODY_HINT"
         id="@ID-hint" >
        @Hint
    </div>
    <InputText class="@SV_CELL_BODY_VALUE_ENTRY"
               id="@ID-value"
               @onclick="OnClickHandler"
               TValue="@string"
               type="text"
               Value="@Value"
               ValueChanged="ValueChanged"
               ValueExpression="ValueExpression" />

    <ValidationMessage For="@ValueExpression" />
</div>


@code
{
    public override WidgetType Type => WidgetType.TextEntry;


    private async Task OnClickHandler() => await OnClick.InvokeAsync(Value);
}
