@using Radzen.Blazor
@inherits ValueCellBase<bool>


<div class="@SV_CELL_BODY @Class"
     id="@ID"
     @onclick="OnClickHandler" >
    <div class="@SV_CELL_BODY_TITLE"
         id="@ID-title" >
        @Title
    </div>
    <div class="@SV_CELL_BODY_DESCRIPTION"
         id="@ID-description" >
        @Description
    </div>
    <div class="@SV_CELL_BODY_HINT"
         id="@ID-hint" >
        @Hint
    </div>
    <RadzenSwitch class="@SV_CELL_BODY_VALUE_ENTRY"
                  id="@ID-value"
                  @ref="_switch"
                  Value="@Value"
                  ValueChanged="@ValueChanged"
                  ValueExpression="@ValueExpression" />
</div>


@code
{
    private            RadzenSwitch?       _switch;
    public override    WidgetType          Type    => WidgetType.Switch;
    [Parameter] public EventCallback<bool> OnClick { get; set; }


    private async Task OnClickHandler()
    {
        if ( _switch is not null ) { await _switch.Toggle(); }

        await OnClick.InvokeAsync(Value);
    }
}
