@inherits ValueCellBase<string>


<div class="@SV_CELL_BODY @Class"
     id="@ID"
     @onclick="OnClickHandler" >
    <div class="@SV_CELL_BODY_TITLE"
         id="@ID-title" >
        @Title
    </div>
    <div class="@SV_CELL_BODY_DESCRIPTION"
         id="@ID-description" >
        @Description
    </div>
    <div class="@SV_CELL_BODY_HINT"
         id="@ID-hint" >
        @Hint
    </div>
    <span class="@SV_CELL_BODY_VALUE_ENTRY"
          id="@ID-value" >
        @Value
    </span>

    <ValidationMessage For="@ValueExpression" />
</div>


@code
{
    // ReSharper disable once CSharpWarnings::CS8618 
    private OptionsPopup<string> __selector;

    public override                              WidgetType            Type          => WidgetType.TextPicker;
    [Parameter]                  public          IList<string>         Values        { get; set; } = new ObservableCollection<string>();
    [Parameter]                  public          EventCallback<string> OnCPopupClose { get; set; }
    [Parameter] [EditorRequired] public required string                PopupTitle    { get; set; }


    protected override void OnParametersSet()
    {
        __selector = new OptionsPopup<string>
                     {
                         ID        = ID,
                         Close     = OnCPopupClose,
                         Title     = PopupTitle,
                         Formatter = static x => x
                     };
    }

    private async Task OnClickHandler() => await __selector.OpenAsync(_control, Values, ValueChanged, ValueExpression);
}
