@typeparam TValue
@inherits Popup<TValue>


<div class="@SV_POPUP"
     id="@ID-popup" >
    <ol class="@SV_POPUP_LIST" >
        @if ( _values?.Count is > 0 )
        {
            @foreach ( TValue value in _values )
            {
                <li class="@SV_POPUP_LIST_ITEM"
                    @key="@value"
                    @onclick="() => CloseAsync(value)" >
                    @Formatter(value)
                </li>
            }
        }
    </ol>
</div>


@code
{
    [Parameter] [EditorRequired] public required string               Title     { get; set; }
    [Parameter] [EditorRequired] public required Func<TValue, string> Formatter { get; set; }


    public static string DefaultFormatter( TValue x ) => x?.ToString() ?? EMPTY;
}
