@inherits ValueCellBase<string>


<div class="@SvConstants.Cells.LABEL @Class"
     id="@ID" >
    <div class="@SV_CELL_BODY" >
        <h2 class="@SV_CELL_BODY_TITLE"
            id="@ID-title">
            @Title
        </h2>
        <h3 class="@SV_CELL_BODY_DESCRIPTION"
            id="@ID-description">
            @Description
        </h3>
        <span class="@SV_CELL_BODY_HINT"
              id="@ID-hint">
            @Hint
        </span>
        <span class="@SV_CELL_BODY_VALUE_ENTRY"
              id="@ID-value">
            @Value
        </span>
    </div>
</div>


@code
{

}
