@inherits SelectableCell


<div class="@SV_BUTTON @Class"
     @onclick="OnClickHandler" >
    <div class="@SV_CELL_BODY" >
        <h2 class="@SV_CELL_BODY_TITLE" >@Title</h2>
        <h3 class="@SV_CELL_BODY_DESCRIPTION" >@Description</h3>
    </div>
</div>


@code
{

}
