@inherits SelectableCell


<div class="@SV_BUTTON @Class"
     id="@ID"
     @onclick="OnClickHandler" >
    <div class="@SV_CELL_BODY" >
        <h2 class="@SV_CELL_BODY_TITLE"
            id="@ID-title">
            @Title
        </h2>
        <h3 class="@SV_CELL_BODY_DESCRIPTION"
            id="@ID-description">
            @Description
        </h3>
    </div>
</div>


@code
{

}
